* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

:root {
	--primary-color: #b2534a;
	--secondary-color: #4aa9b2;
	--light-color: #f4f4f6;
	--dark-color: #111;
}

body {
	font-family: "Poppins", sans-serif;
	font-size: 16px;
	line-height: 1.5;
}

a {
	text-decoration: none;
	color: #333;
}

ul {
	list-style: none;
}

/* Hero */
.hero {
	margin-bottom: 100px;
}

.hero .container {
	/* background: url("../images/hero-bg.png") no-repeat;
	background-size: contain;
	background-position: right;
	height: 450px; */
}

.hero .hero-content {
	width: 70%;
}

.hero .hero-text {
	width: 60%;
	margin-bottom: 20px;
}

/* Services */
.services {
	padding: 20px 0;
	/* background: #334d50;  /* fallback for old browsers */
	/* background: -webkit-linear-gradient(to right, #cbcaa5, #334d50);  /* Chrome 10-25, Safari 5.1-6 */
	/* background: linear-gradient(to right, #cbcaa5, #334d50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.services img {
	margin-top: 20px;
	width: 100%;
}

.services-heading {
	text-align: center;
}

.services-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 30px;
}

.services .card p {
	text-align: center;
}

.services .card .btn {
	text-align: center;
	margin: 12px 0;
	width: 100%;
}

/* Testinomials */
.testinomials-heading {
	text-align: center;
}

.testinomials .container {
	display: flex;
	align-items: center;
}

.testinomial-cards {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 12px;
	margin: 0 auto;
	width: 80%;
}

.testinomials .review-nav-btn {
	background: none;
	border: none;
	outline: none;
	cursor: pointer;
}

/* Newsletter */
.newsletter {
	margin: 56px 0;
	text-align: center;
	padding: 3rem 1rem;
	/* background-color: var(--primary-color); */
}

.newsletter-form {
	margin-top: 1.5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
}

.newsletter-form input {
	padding: 0.75rem 1rem;
	width: 100%;
	max-width: 350px;
	border: 1px solid #ccc;
	border-radius: 6px;
	font-size: 1rem;
}

.newsletter-form button {
	padding: 0.75rem 1.5rem;
	background-color: var(--primary-color);
	color: white;
	border: none;
	border-radius: 6px;
	font-weight: 600;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.newsletter-form button:hover {
	background-color: #993e38;
}

/* Snack Page */
.snack-service-details .container {
	display: flex;
	justify-content: space-between;
}

.snack-gallery {
	width: 50%;
	display: flex;
	gap: 1rem;
}

.gallery-side-panel {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	height: 50%;
}

.gallery-side-panel img {
	width: 150px;
	height: 150px;
	object-fit: cover;
	display: block;
	flex-shrink: 0;
}

.snack-info-section__heading {
	margin-top: 0 !important;
}

.current-image {
	width: 100%;
	max-width: 100%;
	height: 800px;
	overflow: hidden;
}

.gallery-thumb {
	cursor: pointer;
	border: 2px solid transparent;
	transition: border-color 0.3s ease;
}

.gallery-thumb.selected {
	border-color: var(--primary-color);
}

.carousel-controls {
	display: none;
}

.snack-info-section {
	width: 45%;
}

.total-stars-container {
	display: flex;
	align-items: center;
	gap: 0.25rem;
}

.customization-section {
	margin-top: 1rem;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.snack-selection-btn {
	padding: 13px 42px;
	background: var(--light-color);
	border: 2px solid #b03b2e;
	font-weight: 600;
}

.snack-selection-btn {
	padding: 13px 42px;
	background: #fff;
	border-color: #b03b2e;
	color: #b03b2e;
	font-weight: 600;
	cursor: pointer;
	transition: 0.5s;
}

.snack-selection-btn.selected {
	background-color: #b03b2e;
	color: white;
}

.button-group {
	display: flex;
	gap: 10px;
}

.quantity-selector {
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid #ccc;
	margin-top: 0.75rem;
	width: 150px;
	height: 60px;
	font-size: 2rem;
	gap: 25px;
}

.quantity-btn {
	background: none;
	border: none;
	font-size: 2rem;
	cursor: pointer;
	user-select: none;
}

.quantity-btn:focus {
	/* outline: none; */
}

.add-to-cart-btn {
	margin-top: 12px;
	position: relative;
	width: 100%;
	padding: 14px 28px;
	font-size: 20px;
	font-weight: 400;
	letter-spacing: 0.2em;
	cursor: pointer;

	color: #b2534a; /* logo primary color */
	background-color: transparent;
	border: 2px solid #b2534a;
	cursor: pointer;
	overflow: hidden;
	z-index: 1;
	transition: color 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86),
		border 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.add-to-cart-btn::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 0%;
	background-color: #b2534a;
	z-index: -1;
	transition: width 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.add-to-cart-btn:hover::before {
	width: 100%;
}

.add-to-cart-btn:hover {
	color: white;
	border-color: #b2534a;
}

.tab-buttons {
	display: flex;
	gap: 1rem;
	margin-bottom: 1rem;
}

.tab-btn {
	background: none;
	border: none;
	font-size: 1rem;
	padding: 0.5rem;
	cursor: pointer;
	border-bottom: 2px solid transparent;
	font-weight: 500;
}

.tab-btn.selected {
	border-color: #111; /* underline color */
}

.tab-content {
	margin-left: 0.45rem;
}

/* ===========================
/  Component Classes
/  =========================== */

/* Footer */
.footer .container .footer-links {
	display: flex;
	justify-content: center;
	gap: 14px;
	margin-top: 2rem;
}

.footer .copyright {
	padding: 0.75rem;
	justify-self: center;
}

/* Navbar */
.navbar {
	margin: 0 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navbar img {
	width: 160px;
}

.navbar .main-menu ul {
	display: flex;
}

.navbar ul li a {
	color: var(--primary-color);
	padding: 10px 20px;
	margin: 0 6px;
	display: block;
	font-weight: 500;
	/* transition: 0.5s; */
	position: relative;
	font-size: 18px;
}

.navbar ul li a::after {
	content: "";
	position: absolute;
	left: 50%;
	bottom: 0px;
	width: 0;
	height: 2px;
	background-color: var(--primary-color);
	transform: translateX(-50%);
	transition: width 0.5s;
}

.navbar ul li a:hover::after {
	width: 80%;
}

.navbar ul li i {
	margin-right: 8px;
}

.navbar .login,
.navbar .cart {
	margin-left: 10px;
}

/* Cart Menu */
.cart-menu {
	position: fixed;
	top: 0;
	right: -100%;
	width: 350px;
	height: 100vh;
	background-color: #fff;
	box-shadow: -2px 0 8px rgba(0, 0, 0, 0.2);
	transition: right 0.6s ease-in-out;
	z-index: 9999;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.cart-menu-open {
	right: 0;
}

.cart-menu-nav {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;

	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px #ccc solid;
	padding: 1.2rem;
}

.cart-menu__title {
	font-weight: 600;
	letter-spacing: 0.18em;
}

.empty-cart {
	text-align: center;
	font-weight: 600;
	letter-spacing: 0.18em;
}

.cart-menu__checkout {
	display: none;
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 1.6rem;
	letter-spacing: 0.18em;
	background: none;
	border-left: none;
	border-right: none;
	cursor: pointer;
}

.remove-btn {
	background: none;
	border: none;
	border-bottom: solid 1px #333;
	color: #333;
	font-weight: bold;
	font-size: 0.6em;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	cursor: pointer;
	padding: 0;
	margin-left: 0.8rem;
}

.cart-item {
	display: flex;
}

.cart-total {
	margin-left: 0.8rem;
}

.close-cart-btn {
	background: none;
	border: none;
	padding: 0.8rem;
}

.cart-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.5); /* semi-transparent black */
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.3s ease;
	z-index: 9990;
}

.cart-overlay.active {
	opacity: 1;
	visibility: visible;
}

/* ===========================
/  Utility Classes
/  =========================== */
.container {
	max-width: 90%;
	margin: 0 auto;
	padding: 0 15px;
}

.container-sm {
	max-width: 800px;
	margin: 0 auto;
	padding: 0 15px;
}

/* Buttons */
.btn {
	display: inline-block;
	padding: 13px 20px;
	background: var(--light-color);
	color: #333;
	font-weight: 600;
	text-decoration: none;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	transition: 0.5s;
}

.btn:hover {
	opacity: 0.8;
}

.btn-primary {
	background: var(--primary-color);
	color: #fff;
}

.btn-dark {
	background: var(--dark-color);
	color: #fff;
}

.btn-block {
	display: block;
	width: 100%;
}

/* Text Classes */
.text-xxl {
	font-size: 3.6rem;
	line-height: 1.2;
	font-weight: 600;
	margin: 40px 0 20px;
}

.text-xl {
	font-size: 2.2rem;
	line-height: 1.4;
	font-weight: normal;
	margin: 40px 0 20px;
}

.text-lg {
	font-size: 1.8rem;
	line-height: 1.4;
	font-weight: normal;
	margin: 30px 0 20px;
}

.text-md {
	font-size: 1.2rem;
	line-height: 1.4;
	font-weight: normal;
	margin: 40px 0 10px;
}

.text-sm {
	font-size: 0.9rem;
	line-height: 1.4;
	font-weight: normal;
	margin: 10px 0 5px;
}

.text-center {
	text-align: center;
}

/* Card */
.card {
	/* background: #fff; */
	color: #000;
	border-radius: 10px;
	/* padding: 20px; */
}

@media (min-width: 600px) {
	.newsletter-form {
		flex-direction: row;
		justify-content: center;
	}

	.newsletter-form input {
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}

	.newsletter-form button {
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}
}

@media (max-width: 1350px) {
	.snack-service-details .container {
		flex-direction: column;
		align-items: center;
	}

	.gallery-side-panel {
		display: none;
	}
	.container,
	.snack-gallery {
		width: 100%;
		max-width: 100%;
		padding: 0;
	}

	.current-image {
		/* border-radius: 0; */
		position: relative;
		left: 0;
		/* transform: translateX(-50%); */
		height: 625px;
		width: 100vw;
	}

	.carousel-controls {
		display: flex;
		align-items: center;
		margin-top: 2rem;
		margin-bottom: 4.6rem;
		gap: 1rem;
	}

	.carousel-controls > :first-child,
	.carousel-controls > :last-child {
		margin: 0 2rem;
		cursor: pointer;
	}

	.dot {
		width: 12px;
		height: 12px;
		border-radius: 50%;
		border: 1px solid #ccc;
		transition: background-color 0.3s;
		cursor: pointer;
	}

	.dot.active {
		background-color: black;
	}

	.snack-info-section {
	}

	.snack-info-section__heading {
		text-align: center;
		font-weight: 500;
	}

	.snack-info-section__price {
		text-align: center;
		font-size: 2em;
		padding-bottom: 28px;
		margin-bottom: 2rem;
		border-bottom: 1px solid #ccc;
	}

	.tab-container {
		margin-top: 2rem;
	}
}
