<nav class="navbar">
	<div class="logo">
		<a href="index.html">
			<img src="images/logo2.png" alt="logo" />
		</a>
	</div>

	<div class="main-menu">
		<ul>
			<li>
				<a href="index.html">Home</a>
			</li>
			<li>
				<a href="#">Services</a>
			</li>
			<li>
				<a href="#">About</a>
			</li>
			<li class="login">
				<a class="btn" href="#"> <i class="fas fa-user"></i> Log In </a>
			</li>
			<li class="cart">
				<button class="cart__btn button">
					<i class="fa-solid fa-cart-shopping"></i> Cart
				</button>
			</li>
		</ul>
	</div>
</nav>
